<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="_layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr class = "table-list">
            <th scope="col">ID</th>
            <th scope="col">Customer name</th>
            <th scope="col">Customer phone</th>
            <th scope="col">Customer email</th>
            <th scope="col">Customer address</th>
            <th scope="col">Order date</th>
            <th scope="col">Total Price</th>
        </tr>
        </thead>
        <tbody class="infomation">
        <tr th:each="order: ${orders}">
            <td>
                <a th:href="'order/' + ${order.id}" th:text="${order.id}" />
            </td>

            <td th:text="${order.customer_name}" />
            <td th:text="${order.customer_phone}" />
            <td th:text="${order.customer_email}" />
            <td th:text="${order.customer_address}" />
            <td th:text="${order.date}" />
            <td th:text="${order.totalPrice}" />
<!--            <td th:text="${order.i-->
<!--            <td th:text="${orderDetail.orders.customer_name}" />-->
<!--            <td th:text="${orderDetail.orders.customer_address}" />-->
<!--            <td th:text="${orderDetail.orders.customer_phone}" />-->
<!--            <td th:text="${orderDetail.orders.customer_email}" />-->
<!--            <td th:text="${orderDetail.orders.date}" />-->
<!--            <td th:text="${orderDetail.quantity}" />-->
<!--            <th th:text="${orderDetail.price}" />-->
<!--            <td th:text="${orderDetail.orders.totalPrice}" />-->

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>